body{
    /* background-image: url('https://www.ufrgs.br/setorsuinos/wp-content/uploads/2019/07/fundo-azul-degrade-2-1024x564.jpg');*/
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

    font-family: Arial, Helvetica, sans-serif;
    background-size: auto 100vh ;
}

.menu{
    background-color: white;
    
}

/* aqui eu digo que todas as 'li' dentro de menu teram essa propriedade */
.menu li{
    /* aqui eu retiro as bolinhas que vem padrão no li */
    list-style: none; 

}

.menu ul{
    display: flex; /* aqui eu troco a visualização para coluna em vez de linha(um ao lado do outro)*/
    
    justify-content: space-around; /*aqui estou dando espaçamento entre as colunas da lista*/
}

a{  

    color: black;
    /* retirar sublinhado do texto */
    text-decoration: none; 
}

a:hover{
    /* adicionar sublinhado ao texto */
    text-decoration: underline;
}

/*Aqui estou usando as mesmas propriedades para as duas classes*/
.site-subtitle, 
.site-title{
    color:WHITESMOKE;
    text-align: center
}

.site-subtitle{
    font-style: italic;
}
