
/* aplica a todo o codigo tudo que for implementado aqui */
/* resete do css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url('../img/background.jpg');
    
    /* background-color: rgb(7, 7, 7); */
    background-size: auto 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    align-items: center ;
    height: 100vh;
    display: flex;
    justify-content: center;
}


a{  
    border-radius: 5px;
    color: rgb(0, 0, 0);
    /* retirar sublinhado do texto */
    text-decoration: none; 
}

/* a:hover{
    adicionar sublinhado ao texto
    text-decoration: underline;  
} */